
@tailwind base;

/* my resets */
html, body {
  min-height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

svg {
  fill: currentColor;
}
/* my resets end */

@tailwind components;

@tailwind utilities;

/* put custom utilities here */

.-indent-2 {
  text-indent: -0.5rem;
}

.-indent-4 {
  text-indent: -1rem;
}
