
@tailwind base;

/* my resets */
html, body {
  min-height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

svg {
  fill: currentColor;
}
/* my resets end */

@tailwind components;

@tailwind utilities;

/* put custom utilities here */

.header-gradient {
  background: rgb(18,103,194);
  background: linear-gradient(90deg, rgba(18,103,194,1) 0%,
    rgba(9,9,121,1) 65%,
    rgba(6,2,75,1) 100%);
}

.-indent-2 {
  text-indent: -0.5rem;
}

.-indent-4 {
  text-indent: -1rem;
}
