
@tailwind base;

/* my resets */
html, body {
  min-height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  @apply text-gray-800;
}

svg {
  fill: currentColor;
}

a {
  @apply text-blue-700
}
a:focus, a:hover {
  @apply underline;
}

p {
  @apply my-2;
}
/* my resets end */

@tailwind components;

/* put custom components here */
.url {
  @apply inline-block p-1 text-sm text-red-800 bg-gray-100 rounded shadow;
}
/* custom components end */

@tailwind utilities;

/* put custom utilities here */

.header-gradient {
  background: rgb(18,103,194);
  background: linear-gradient(90deg, rgba(18,103,194,1) 0%,
    rgba(9,9,121,1) 65%,
    rgba(6,2,75,1) 100%);
}

.-indent-2 {
  text-indent: -0.5rem;
}

.-indent-4 {
  text-indent: -1rem;
}

.quoted {
  quotes: "“" "”" "‘" "’";
}
.quoted::before {
  content: open-quote;
}
.quoted::after {
  content: close-quote;
}

.with-checkmark {
  @apply relative pl-6;
}
.with-checkmark::before {
  content: "✔";
  @apply absolute inline-block text-green-500 align-middle transform scale-150 -translate-x-5;
}

.with-ballot {
  @apply relative pl-6;
}
.with-ballot::before {
  content: "✗";
  @apply absolute inline-block mr-2 text-red-500 align-middle transform scale-150 -translate-x-5;
}

